.main-chat
  .header
    .header__left-box
      .header__left-box__current-group
        = @group.name
      .header__left-box__member-box
        .header__left-box__member-box__member-list  
          Member:
          .header__left-box__member-box__member-name
            - @group.users.each do |user|
              = user.name
    .header__group-edit
      = link_to edit_group_path(@group) do
        .header__group-edit__btn
          Edit
  .main
    = render @messages
    -# .main__user-name
    -#   kodai
    -#   .main__user-name__date
    -#     2020/04/15(wed) 15:09
    -# .main__user-message
    -#   おはよう
    -# .main__user-name
    -#   kodai
    -#   .main__user-name__date
    -#     2020/04/15(wed) 15:09

  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class:"input-box__text",placeholder:"type a message"
        = f.label :image, class:"input-box__image" do
          = icon('fas','image')
          = f.file_field :image, class:"input-box__image__file"
      = f.submit 'Send' , class:"submit-btn"